@charset "UTF-8";
/*font*/
@font-face {
  font-family: 'iconfont';
  src: url("iconfont.eot");
  /* IE9*/
  src: url("iconfont.eot?#iefix") format("embedded-opentype"), url("iconfont.woff") format("woff"), url("iconfont.ttf") format("truetype"), url("iconfont.svg#iconfont") format("svg");
  /* iOS 4.1- */
}
/*shadow*/
/*main picture*/
/*间距设置*/
/*header*/
/*main*/
.main {
  /*吸顶样式*/
  /*规格参数*/
  /*产品尺寸*/
  /*价格一览表*/
  /*产品展示*/
  /*到货时间*/
  /*产品包装*/
  /*关于色差*/
}
.main .print-container {
  width: 1000px;
  margin: 0 auto;
  margin-top: 0px;
}
.main .print-container .location {
  padding: 20px 0;
  width: 1000px;
  margin: 0 auto;
}
.main .print-container .location a {
  font-size: 14px;
  color: #999;
}
.main .print-container .location span {
  font-size: 14px;
  color: #999;
}
.main .print-container .location .active {
  font-size: 14px;
  color: #666;
  background: none;
}
.main .print-container .printLeft {
  width: 485px;
  float: left;
}
.main .print-container .printLeft .printImg {
  width: 480px;
  height: 360px;
  overflow: hidden;
  position: relative;
  background: url(../img/goodsParticulars/BigimgDefault.png) no-repeat left top;
}
.main .print-container .printLeft .printImg img {
  position: absolute;
  left: 0;
  top: 0;
}
.main .print-container .printLeft .printImg .imgZIndex {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 900;
}
.main .print-container .printLeft .printSImg {
  width: 485px;
}
.main .print-container .printLeft .printSImg li {
  width: 92px;
  overflow: hidden;
  float: left;
  display: inline-block;
  margin-right: 5px;
  margin-top: 5px;
  height: 69px;
  background: url(../img/goodsParticulars/SmallimgDefault.png) no-repeat left top;
}
.main .print-container .printLeft .printSImg li img {
  width: 92px;
  height: 69px;
  cursor: pointer;
}
.main .print-container .printLeft .printSImg .imgShadow {
  box-shadow: 0 4px 6px #898989;
  -webkit-box-shadow: 0 4px 6px #898989;
  -moz-box-shadow: 0 4px 6px #898989;
  width: 86px;
  border: 3px solid #fff;
}
.main .print-container .printRight {
  width: 490px;
  float: left;
  margin-left: 20px;
  display: inline-block;
}
.main .print-container .printRight .b-hr {
  width: 490px;
  float: left;
  border-bottom: 1px dashed #ccc;
}
.main .print-container .printRight .ProTitle {
  font: bold 20px/25px 'Microsoft Yahei';
  color: #333;
  text-align: left;
  vertical-align: top;
}
.main .print-container .printRight .ProTitle .subtitle {
  font-size: 14px;
  line-height: 18px;
  color: #333;
  width: 476px;
  padding: 10px 0 5px;
}
.main .print-container .printRight .printProduct {
  width: 490px;
  margin: 20px 0px;
  float: left;
}
.main .print-container .printRight .printProduct .printProTxt {
  width: 65px;
  text-align: left;
  font: 12px/23px 'Microsoft Yahei';
  color: #999;
  display: inline-block;
  float: left;
  overflow: hidden;
}
.main .print-container .printRight .printProduct .printProList {
  width: 380px;
  float: left;
  position: relative;
  /*立即购买*/
}
.main .print-container .printRight .printProduct .printProList .on {
  display: block;
  border: 2px solid #ff4200;
  line-height: 19px;
  background: url(../img/goodsParticulars/icon-xz.png) no-repeat right bottom;
}
.main .print-container .printRight .printProduct .printProList .printProPrice {
  font: bold 26px/23px 'Microsoft Yahei';
  color: #ff4200;
}
.main .print-container .printRight .printProduct .printProList .printProPrice i {
  font-style: normal;
}
.main .print-container .printRight .printProduct .printProList .item {
  display: block;
  vertical-align: middle;
  background-color: #fff;
  cursor: pointer;
  float: left;
  margin: 0 10px 10px 0px;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
}
.main .print-container .printRight .printProduct .printProList .item a {
  height: 21px;
  padding: 0 14px;
  text-align: center;
  border: 1px solid #e7e7e7;
  color: #666;
  line-height: 21px;
  display: block;
}
.main .print-container .printRight .printProduct .printProList .item .on {
  display: block;
  border: 2px solid #ff4200;
  line-height: 19px;
  background: url(../img/goodsParticulars/icon-xz.png) no-repeat right bottom;
}
.main .print-container .printRight .printProduct .printProList .printAddress {
  display: inline-block;
  vertical-align: top;
  float: left;
  position: relative;
  z-index: 555555555;
}
.main .print-container .printRight .printProduct .printProList .printAddress .addNew-selection {
  position: relative;
  top: 0px;
  margin: 0 10px 0 0;
  width: 80px;
  height: 23px;
  z-index: 1;
}
.main .print-container .printRight .printProduct .printProList .printAddress .addNew-selection .deliverySelect {
  float: left;
  padding: 4px 10px 4px 10px;
  _padding: 4px 10px 3px 10px;
  border: 1px solid #dbdbdb;
  color: #666;
  cursor: pointer;
  position: relative;
  background: #fff;
  width: 58px;
  height: 13px;
  line-height: 13px;
  border-radius: 3px;
}
.main .print-container .printRight .printProduct .printProList .printAddress .addNew-selection .deliverySelect-arrow-down {
  width: 7px;
  height: 4px;
  overflow: hidden;
  position: absolute;
  top: 11px;
  right: 10px;
  display: block;
  background: url(../img/goodsParticulars/orderList-printBg.gif) no-repeat 0 -104px;
}
.main .print-container .printRight .printProduct .printProList .printAddress .deliverySelection {
  width: 400px;
  border: 1px solid #f60;
  position: absolute;
  left: 0;
  background-color: #fff;
  z-index: 99999;
  padding-bottom: 10px;
  top: 25px;
}
.main .print-container .printRight .printProduct .printProList .printAddress .deliverySelection .delivery-close {
  position: absolute;
  right: 8px;
  top: 8px;
  cursor: pointer;
}
.main .print-container .printRight .printProduct .printProList .printAddress .deliverySelection .delivery-province {
  padding: 12px 10px 0 10px;
}
.main .print-container .printRight .printProduct .printProList .printAddress .deliverySelection .delivery-province .clearfix {
  zoom: 1;
}
.main .print-container .printRight .printProduct .printProList .printAddress .deliverySelection .delivery-province .clearfix li {
  float: left;
  width: 53px;
  margin-right: 5px;
  padding-right: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}
.main .print-container .printRight .printProduct .printProList .printAddress .deliverySelection .delivery-province .clearfix li a {
  float: left;
  display: block;
  padding: 3px 5px;
  color: #666;
}
.main .print-container .printRight .printProduct .printProList .printAddress .deliverySelection .delivery-province .clearfix li .delivery-city-selected {
  color: #f60;
}
.main .print-container .printRight .printProduct .printProList .printAddress .deliverySelection .delivery-province .clearfix li .on {
  display: block;
  border: 2px solid #ff4200;
  line-height: 19px;
  background: url(../img/goodsParticulars/icon-xz.png) no-repeat right bottom;
}
.main .print-container .printRight .printProduct .printProList .printAddress .deliverySelection .delivery-city {
  padding: 12px 10px 0 10px;
  background-color: #fff7f1;
  margin-top: 12px;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  width: 380px;
  float: left;
  overflow: hidden;
}
.main .print-container .printRight .printProduct .printProList .printAddress .deliverySelection .delivery-city .clearfix {
  width: 100%;
  float: left;
}
.main .print-container .printRight .printProduct .printProList .printAddress .deliverySelection .delivery-city .clearfix li {
  display: block;
  float: left;
  width: 53px;
  height: 22px;
  margin-right: 5px;
  padding-right: 4px;
  margin-bottom: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}
.main .print-container .printRight .printProduct .printProList .printAddress .deliverySelection .delivery-city .clearfix li a {
  float: left;
  display: block;
  padding: 3px 5px;
  color: #666;
}
.main .print-container .printRight .printProduct .printProList .printAddress .deliverySelection .delivery-city .clearfix li .delivery-city-selected {
  color: #f60;
}
.main .print-container .printRight .printProduct .printProList .printExpress {
  display: inline-block;
  vertical-align: top;
  float: left;
  position: relative;
}
.main .print-container .printRight .printProduct .printProList .printExpress .addNew-selection {
  position: relative;
  margin-right: 10px;
}
.main .print-container .printRight .printProduct .printProList .printExpress .addNew-selection .colsSelect {
  float: left;
  padding: 4px 10px 4px 10px;
  _padding: 4px 10px 3px 10px;
  border: 1px solid #dbdbdb;
  color: #666;
  cursor: pointer;
  position: relative;
  background: #fff;
  width: 58px;
  height: 13px;
  line-height: 13px;
  border-radius: 3px;
}
.main .print-container .printRight .printProduct .printProList .printExpress .addNew-selection .colsSelect-arrow-down {
  width: 7px;
  height: 4px;
  overflow: hidden;
  position: absolute;
  top: 11px;
  right: 10px;
  display: block;
  background: url(../img/goodsParticulars/orderList-printBg.gif) no-repeat 0 -104px;
}
.main .print-container .printRight .printProduct .printProList .printExpress .selectList {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  padding: 5px 10px 5px 10px;
  position: absolute;
  display: none;
  border: 1px solid #f60;
  background: #fff;
  text-align: left;
  z-index: 9999;
  white-space: nowrap;
  width: 128px;
  top: 23px;
}
.main .print-container .printRight .printProduct .printProList .printExpress .selectList li {
  line-height: 24px;
  cursor: pointer;
}
.main .print-container .printRight .printProduct .printProList .printExpress .selectList .on {
  color: #f60;
}
.main .print-container .printRight .printProduct .printProList .deliveryPrice {
  float: left;
  display: inline-block;
  line-height: 23px;
  color: #999;
  font-family: 'microsoft yahei';
}
.main .print-container .printRight .printProduct .printProList .deliveryPrice .YfPrice {
  color: #f60;
}
.main .print-container .printRight .printProduct .printProList .deliveryPrice {
  float: left;
  display: inline-block;
  line-height: 23px;
  color: #999;
  font-family: 'microsoft yahei';
}
.main .print-container .printRight .printProduct .printProList .isDelivery {
  width: 193px;
  height: 22px;
  background: url(../img/goodsParticulars/icon_01.png) no-repeat left top;
  position: absolute;
  left: 0;
  top: 26px;
  z-index: 88;
  font: 12px/1 'Verdana';
  color: #666666;
  padding-top: 13px;
  padding-left: 10px;
}
.main .print-container .printRight .printProduct .printProList .isDelivery a {
  color: #f60;
}
.main .print-container .printRight .printProduct .printProList .add_btn {
  width: 180px;
  height: 42px;
  display: inline-block;
  float: left;
  margin-right: 10px;
  text-align: center;
  margin-top: 10px;
}
.main .print-container .printRight .printProduct .printProList .add_buy {
  color: #fff;
  font: 18px/42px '微软雅黑';
  background: #ff7800;
  border-radius: 6px;
  transition: background-color 0.5s ease;
  cursor: pointer;
}
.main .print-container .printRight .printProduct .printProList .add_cart {
  color: #fff;
  font: 18px/42px '微软雅黑';
  background: #a07a65;
  border-radius: 6px;
  transition: background-color 0.5s ease;
}
.main .print-container .printRight .printProduct .printProList .add_next {
  color: #fff;
  font: 18px/42px '微软雅黑';
  background: #ff7800;
  border-radius: 6px;
  transition: background-color 0.5s ease;
  cursor: pointer;
}
.main .print-container .printRight .printProduct .addPrintCycle {
  line-height: 23px;
  color: #999;
}
.main .print-container .printRight .printProduct .addPrintCycle .zq {
  width: 18px;
  height: 18px;
  background: url(../img/goodsParticulars/icon-zq.png) no-repeat left top;
  display: inline-block;
  font: 12px/18px '微软雅黑';
  color: #ff4200;
  text-align: center;
  margin-right: 5px;
}
.main .print-container .printRight .printProduct .addPrintFile {
  width: 425px;
}
.main .print-container .printRight .printProduct .addPrintFile li {
  background: #fafafa;
  width: 202px;
  height: 68px;
  border: #d9d9d9 1px solid;
  border-radius: 5px;
  float: left;
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}
.main .print-container .printRight .printProduct .addPrintFile li:hover {
  border: 2px solid #f60;
}
.main .print-container .printRight .printProduct .addPrintFile li p {
  font: 14px/22px '微软雅黑';
  color: #333;
  text-align: center;
  display: inline-block;
  width: 100%;
}
.main .print-container .printRight .printProduct .addPrintFile .FileHave .icon_wj {
  background: url(../img/goodsParticulars/icon-mwj.png) no-repeat center center;
  display: inline-block;
  width: 100%;
  height: 27px;
  margin-top: 10px;
}
.main .print-container .printRight .printProduct .addPrintFile .mr0 {
  margin-right: 0 !important;
}
.main .print-container .printRight .printProduct .addPrintFile .FileNo .icon_mwj {
  background: url(../img/goodsParticulars/icon-mwj.png) no-repeat center center;
  display: inline-block;
  width: 100%;
  height: 27px;
  margin-top: 10px;
}
.main .print-container .printRight .printPaper {
  height: 33px;
  overflow: hidden;
  width: 490px;
  margin: 20px 0px;
}
.main .print-container .printRight .mb10 {
  margin-bottom: 10px !important;
}
.main .print-container .printRight .fileUpload {
  margin-bottom: 30px;
  height: 30px;
}
.main .print-container .printRight .fileUpload .uploadingfile {
  width: 108px;
  height: 30px;
  float: left;
  margin-right: 10px;
  position: relative;
  background-image: url(../img/goodsParticulars/toolupload.png);
}
.main .print-container .printRight .fileUpload .uploadingfile:hover {
  opacity: 0.7;
}
.main .print-container .printRight .fileUpload .uploadingfileBg {
  width: 108px;
  height: 30px;
  float: left;
  margin-right: 10px;
  position: relative;
  background-image: url(../img/goodsParticulars/bdsc.png);
}
.main .print-container .printRight .fileUpload .uploadingfileBg:hover {
  opacity: 0.7;
}
.main .print-container .printRight .fileUpload .uploadingfileRight {
  width: 16px;
  height: 16px;
  background: url(../img/goodsParticulars/tips.jpg) no-repeat left top;
  display: inline-block;
  margin-right: 8px;
  cursor: pointer;
  float: left;
}
.main .des .PrintProdInfoOff .wrapXq {
  width: 1000px;
  margin: 0 auto;
  background: #fff;
}
.main .des .PrintProdInfoOff .wrapXq .bottom-nav {
  background: #fff;
  margin-top: 10px;
}
.main .des .PrintProdInfoOff .wrapXq .bottom-nav .fixed-bg {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
}
.main .des .PrintProdInfoOff .wrapXq .bottom-nav .fixed-bg .bottom-fixed {
  margin-bottom: 30px;
  height: 48px;
  border: 1px solid #e5e5e5;
  background: #fff;
}
.main .des .PrintProdInfoOff .wrapXq .bottom-nav .fixed-bg .bottom-fixed li {
  float: left;
  display: inline;
  width: 90px;
  margin-top: 18px;
  height: 14px;
  font-size: 12px;
  line-height: 100%;
  text-align: center;
  color: #666;
  border-right: 1px solid #e5e5e5;
  cursor: pointer;
}
.main .des .PrintProdInfoOff .wrapXq .bottom-nav .fixed-bg .bottom-fixed .bottom-checknav {
  color: #ff6600;
  position: relative;
  top: -1px;
  margin: 0;
  height: 50px;
  background: url(../img/goodsParticulars/bottom-navcheck.png) no-repeat 0px 0px;
  line-height: 50px;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
}
.main .des .PrintProdInfoOff .wrapXq .bottom-nav .fixed-bg .bottom-fixed .brl0 {
  border-left: 0 !important;
}
.main .des .PrintProdInfoOff .wrapXq .bottom-nav .content-all {
  clear: both;
  width: 1000px;
}
.main .des .PrintProdInfoOff .wrapXq .bottom-nav .content-all .titleXq {
  height: 34px;
  font: 24px/34px '微软雅黑';
  color: #FFF;
  background: url(../img/goodsParticulars/bar.png) no-repeat;
  padding-left: 20px;
  clear: both;
}
.main .des .PrintProdInfoOff .wrapXq .bottom-nav .content-all .content-all {
  clear: both;
  width: 1000px;
}
.main .des .PrintProdInfoOff .wrapXq .bottom-nav .content-all .content-all .titleXq {
  height: 34px;
  font: 24px/34px '微软雅黑';
  color: #FFF;
  background: url(../img/goodsParticulars/bar.png) no-repeat;
  padding-left: 20px;
  clear: both;
}
.main #more {
  width: 1000px;
  background: #fafafa;
  padding-top: 18px;
  margin: 0px auto 30px !important;
}
.main #more h2 {
  margin: 10px;
  font-size: 16px;
  font-weight: bold;
  font-family: "微软雅黑";
  line-height: 50px;
}
.main #more .mana-more {
  overflow: hidden;
  zoom: 1;
}
.main .tuiJian {
  width: 1000px;
  margin: 25px auto;
  overflow: hidden;
}
.main .tuiJian .tuiJIanTil {
  padding: 0px 0;
  overflow: hidden;
}
.main .tuiJian .tuiJIanTil span {
  border-left: 3px solid #ff6600;
  font-size: 16px;
  line-height: 20px;
  padding-left: 12px;
  float: left;
  color: #333;
}
.main .tuiJian .tuiJIanTil a {
  float: right;
  font-size: 13px;
  color: #777;
  line-height: 20px;
}
.main .tuiJian .tuiJIanTil a:hover {
  color: #f60;
}
.main .tuiJian .tuiJianInfo {
  width: 1020px;
  margin: 20px 0 0 -10px;
  overflow: hidden;
}
.main #more {
  clear: both;
}
.main .wrapXq {
  width: 1000px;
  margin: 0 auto;
  background: #fff;
}
.main .bottom-nav {
  background: #fff;
  margin-top: 10px;
}
.main .bottom-nav .fixed-bg {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
}
.main .bottom-nav .bottom-fixed {
  margin-bottom: 30px;
  height: 48px;
  background: #fff;
}
.main .bottom-nav .bottom-fixed ul {
  *zoom: 1;
}
.main .bottom-nav .bottom-fixed ul:before, .main .bottom-nav .bottom-fixed ul:after {
  content: "";
  display: table;
}
.main .bottom-nav .bottom-fixed ul:after {
  clear: both;
}
.main .bottom-nav .bottom-fixed ul li {
  float: left;
  display: inline;
  width: 90px;
  margin-top: 18px;
  height: 14px;
  font-size: 12px;
  line-height: 100%;
  text-align: center;
  color: #666;
  border-right: 1px solid #e5e5e5;
  cursor: pointer;
}
.main .bottom-nav .bottom-fixed ul .bottom-hovernav {
  color: #ff6600;
}
.main .bottom-nav .bottom-fixed ul .bottom-checknav {
  color: #ff6600;
  position: relative;
  top: -1px;
  margin: 0;
  height: 50px;
  background: url(../img/goodsParticulars/bottom-navcheck.png) no-repeat 0px 0px;
  line-height: 50px;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
}
.main .bottom-nav .bottom-fixed ul .brr0 {
  border-right: 0;
}
.main .bottom-nav .bottom-fixed ul .brl0 {
  border-left: 0;
}
.main .bottom-nav .fixed-now {
  position: fixed;
  top: 0;
  height: 50px;
  z-index: 999;
}
.main .bottom-nav .bottom-title {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  background: url(../img/goodsParticulars/bottom-titlebg.jpg) no-repeat 0px 0px;
  font: 22px/1.5 '微软雅黑';
  color: #fff;
  text-indent: 20px;
}
.main .bottom-nav .bottom-main {
  width: 810px;
  padding: 30px 0;
  margin-left: auto;
  margin-right: auto;
  *zoom: 1;
}
.main .bottom-nav .bottom-main:before, .main .bottom-nav .bottom-main:after {
  content: "";
  display: table;
}
.main .bottom-nav .bottom-main:after {
  clear: both;
}
.main .bottom-nav .bottom-main .sj-img {
  float: left;
  display: inline;
}
.main .bottom-nav .bottom-main ul {
  padding-left: 10px;
}
.main .bottom-nav .bottom-main ul li {
  display: block;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px dotted #e5e5e5;
  line-height: 30px;
}
.main .bottom-nav .bottom-main .anli-more {
  text-align: right;
  line-height: 100%;
}
.main .bottom-nav .bottom-main .anli-more a {
  padding-right: 20px;
  color: #666;
  font-size: 12px;
  background: url(../img/goodsParticulars/anli-morehover.png) no-repeat right 2px;
}
.main .bottom-nav .bottom-main .anli-more a.anli-morehover {
  color: #ff6600;
  background: url(../img/goodsParticulars/anli-morehover.png) no-repeat right -66px;
}
.main .bottom-nav .bottom-main .bottom-cntitle {
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: #666;
  line-height: 100%;
}
.main .bottom-nav .bottom-main .bottom-cnboxs .cnboxs-nav {
  width: 254px;
  height: 217px;
  border: 1px solid #ededed;
  float: left;
  display: inline;
  margin-right: 20px;
  margin-top: 40px;
  position: relative;
}
.main .bottom-nav .bottom-main .bottom-cnboxs .cnboxs-nav .cnboxs-fixed {
  width: 54px;
  height: 54px;
  position: absolute;
  top: -27px;
  left: 100px;
  background: url(../img/goodsParticulars/bottom-cnbg.png) no-repeat 0 0;
}
.main .bottom-nav .bottom-main .bottom-cnboxs .cnboxs-nav .yc {
  background-position: 0 -123px;
}
.main .bottom-nav .bottom-main .bottom-cnboxs .cnboxs-nav .wh {
  background-position: 0 -246px;
}
.main .bottom-nav .bottom-main .bottom-cnboxs .cnboxs-nav .my {
  background-position: 0 -400px;
}
.main .bottom-nav .bottom-main .bottom-cnboxs .cnboxs-nav p {
  color: #999;
  font-size: 12px;
  padding: 0 10px 0 14px;
  line-height: 20px;
}
.main .bottom-nav .bottom-main .bottom-cnboxs .cnboxs-nav .cnboxs-title {
  font-size: 16px;
  color: #666;
  width: 100%;
  text-align: center;
  padding: 35px 0 10px 0;
  line-height: 100%;
}
.main .bottom-nav .bottom-main .anli-lists {
  *zoom: 1;
}
.main .bottom-nav .bottom-main .anli-lists:before, .main .bottom-nav .bottom-main .anli-lists:after {
  content: "";
  display: table;
}
.main .bottom-nav .bottom-main .anli-lists:after {
  clear: both;
}
.main .bottom-nav .bottom-main .anli-lists .anli-boxs {
  float: left;
  display: inline;
  height: 109px;
  width: 254px;
  border: 1px solid #E7E7E7;
  margin-top: 20px;
  margin-right: 20px;
}
.main .bottom-nav .bottom-main .anli-lists .anli-boxs .anli-boxstop {
  color: #666;
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #ededed;
}
.main .bottom-nav .bottom-main .anli-lists .anli-boxs .anli-boxsbottom {
  color: #999;
}
.main .bottom-nav .bottom-main .anli-lists .anli-boxs .anli-boxsbottom p {
  padding-top: 5px;
}
.main .bottom-nav .bottom-main .anli-lists .anli-boxs p {
  text-indent: 20px;
}
.main .bottom-nav .bottom-main .anli-lists .anli-boxs p .colorf60 {
  font-weight: bolder;
}
.main .bottom-nav .bottom-main .anli-lists .anli-boxshover {
  border: 1px solid #ff6600;
}
.main .bottom-nav .bottom-main .anli-lists .anli-boxshover .anli-boxstop {
  color: #ff6600;
}
.main .bottom-nav .bottom-main .anli-lists .anli-boxshover a {
  color: #ff6600;
}
.main .bottom-nav .bottom-main .bottom-price {
  float: left;
  display: inline;
  width: 283px;
  padding-bottom: 15px;
  border: 1px solid #ededed;
}
.main .bottom-nav .bottom-main .bottom-price .price-top {
  width: 283px;
  height: 105px;
  padding-top: 22px;
  border-bottom: 1px solid #ededed;
}
.main .bottom-nav .bottom-main .bottom-price .price-top p {
  width: 100%;
  text-align: center;
  font-size: 18px;
  line-height: 1.5;
}
.main .bottom-nav .bottom-main .bottom-price .price-top .colorf60 {
  font-size: 30px;
}
.main .bottom-nav .bottom-main .bottom-price .price-top .color999 {
  color: #999;
  font-size: 14px;
  text-decoration: line-through;
}
.main .bottom-nav .bottom-main .bottom-price .jdgx {
  background: #fafafa url(../img/goodsParticulars/jdgx.jpg) no-repeat top right;
}
.main .bottom-nav .bottom-main .bottom-price .jdsw {
  background: #fafafa url(../img/goodsParticulars/jdsw.jpg) no-repeat top right;
}
.main .bottom-nav .bottom-main .bottom-price .gddq {
  background: #fafafa url(../img/goodsParticulars/gddq.jpg) no-repeat top right;
}
.main .bottom-nav .bottom-main .bottom-price .gdsw {
  background: #fafafa url(../img/goodsParticulars/gdsw.jpg) no-repeat top right;
}
.main .bottom-nav .bottom-main .bottom-price .sywz {
  background: #fafafa url(../img/goodsParticulars/sywz.jpg) no-repeat top right;
}
.main .bottom-nav .bottom-main .bottom-price .xxqy {
  background: #fafafa url(../img/goodsParticulars/i/xxqy.jpg) no-repeat top right;
}
.main .bottom-nav .bottom-main .bottom-price .price-bottom {
  width: 210px;
  margin-left: auto;
  margin-right: auto;
}
.main .bottom-nav .bottom-main .bottom-price .price-bottom ul {
  padding-top: 10px;
}
.main .bottom-nav .bottom-main .bottom-price .price-bottom ul li {
  text-align: center;
  width: 100%;
  list-style: none;
  border-bottom: 1px dotted #ededed;
  line-height: 25px;
  margin: 0;
  padding: 3px 0;
}
.main .bottom-nav .bottom-main .brl0 {
  border-left: 0;
}
.main .bottom-nav .two-price {
  padding-left: 210px;
}
.main .bottom-nav .three-price .bottom-price {
  float: left;
  display: inline;
  width: 263px;
  height: 291px;
  border: 1px solid #ededed;
}
.main .bottom-nav .three-price .bottom-price .price-top {
  width: 263px;
  height: 105px;
  padding-top: 22px;
  border-bottom: 1px solid #ededed;
}
.main .bottom-nav .three-price .bottom-price .price-top p {
  width: 100%;
  text-align: center;
  font-size: 18px;
}
.main .bottom-nav .three-price .bottom-price .price-top .colorf60 {
  font-size: 30px;
}
.main .bottom-nav .three-price .bottom-price .price-top .color999 {
  color: #999;
  font-size: 14px;
  text-decoration: line-through;
}
.main .bottom-nav .three-price .brl0 {
  border-left: 0;
}
.main .bottom-nav .pd0 {
  padding: 0;
}
.main p {
  margin: 0px;
  padding: 0px;
}
.main .content-all {
  clear: both;
  width: 1000px;
}
.main table, .main td, .main th {
  border: 1px solid #cccccc;
  border-collapse: collapse;
}
.main .content-all table tr td {
  line-height: 38px;
  font-size: 16px;
  font-family: '微软雅黑';
  color: #666;
  text-align: center;
}
.main .content-all table tr th {
  line-height: 38px;
  font-size: 16px;
  font-family: '微软雅黑';
  color: #666;
  font-weight: bold;
  text-align: center;
}
.main .content-all img {
  display: inline-block;
}
.main h3.titleXq {
  height: 34px;
  font: 24px/34px '微软雅黑';
  color: #FFF;
  background: url(../img/goodsParticulars/bar.png) no-repeat;
  padding-left: 20px;
  clear: both;
}
.main .ggcs-neirong {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 810px;
  margin: 0 auto;
}
.main .cpcc-1 {
  text-align: center;
  padding-bottom: 30px;
}
.main .cpcc-1 img {
  display: inline-block;
}
.main .jgb {
  margin-top: 30px;
  width: 810px;
  margin: 30px auto;
}
.main .jgb table tr th {
  background: #f0f0f0;
}
.main .jgb table tr td.td1 {
  background: #f0f0f0;
  font-weight: bold;
}
.main .jgb-3 {
  font: 14px/18px '微软雅黑';
  color: #999;
  margin-left: 95px;
  margin-top: 10px;
  margin-bottom: 30px;
}
.main .jgb-4 {
  padding-left: 10px;
}
.main .cpzs-1 {
  font-size: 20px;
  color: #666666;
  font-weight: bold;
  text-align: center;
  padding-top: 30px;
}
.main .cpzs-2 {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.main .cpzs-2 img {
  display: inline-block;
}
.main .dhsj-title {
  font-size: 16px;
  color: #666666;
  padding-left: 95px;
  padding-top: 30px;
  padding-bottom: 10px;
  font-weight: bold;
}
.main .chsj-BG {
  width: 810px;
  margin: 0 auto;
}
.main .chsj-BG table tr th {
  background: #f0f0f0;
}
.main .chsj {
  font-size: 14px;
  color: #666666;
  padding-left: 95px;
  padding-top: 30px;
  padding-bottom: 10px;
  font-weight: bold;
}
.main .chsj-sm {
  font: 14px/18px '微软雅黑';
  color: #999999;
  margin-left: 95px;
  margin-top: 10px;
}
.main .wlps-BG {
  width: 810px;
  margin: 0 auto;
  padding-bottom: 30px;
}
.main .wlps-BG table tr th {
  background: #f0f0f0;
}
.main .wlps-BG table tr td {
  padding: 0 10px;
}
.main .wlps-BG table tr td.td2 {
  font-weight: bold;
}
.main .cpbz-1 {
  font-size: 16px;
  color: #666666;
  padding-left: 95px;
  padding-bottom: 10px;
  font-weight: bold;
}
.main .cpbz-2 {
  text-align: center;
  padding-bottom: 30px;
}
.main .gysc-1 {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.main .gysc-3 {
  padding-left: 95px;
  padding-bottom: 30px;
  display: inline;
  float: left;
}
.main .gysc-4 {
  font: 16px/24px '微软雅黑';
  color: #ff6600;
  font-weight: bold;
}
.main .gysc-5 {
  font: 14px/24px '微软雅黑';
  color: #666666;
}
.main .ys-tanc {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  top: 0;
  z-index: 1010;
  display: none;
}
.main .ys-tanc .tanc_window {
  width: 400px;
  position: relative;
  top: 30% !important;
  left: 50%;
  margin-left: -220px;
  background: #FFFFFF;
  _top: 450px !important;
}
.main .ys-tanc .tanc_window .img-close {
  position: absolute;
  top: 0px;
  right: -35px;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  color: #B9B9B9;
  background: #8B8B8B;
  font-size: 16px;
  font-weight: 100;
  cursor: pointer;
}
.main .ys-tanc .tanc_window .tanc_yz {
  padding: 35px 30px;
  border: #dbdbdb 1px solid;
  background: #fff;
  overflow: hidden;
  height: 62px;
  width: 338px;
  font: 15px '微软雅黑';
  text-align: center;
  color: #666;
  position: relative;
}
.main .ys-tanc .tanc_window .tanc_yz .btn-jmOk {
  width: 108px;
  height: 28px;
  text-align: center;
  font: 12px/28px 'microsoft yahei';
  _line-height: 20px;
  cursor: pointer;
  background: #ff6600;
  border: #da730c 1px solid;
  color: #fefefe;
  margin-top: 20px;
  margin-right: 10px;
}
.main .ys-tanc .tanc_window .tanc_yz .btn-buyOk {
  width: 108px;
  height: 28px;
  text-align: center;
  font: 12px/28px 'microsoft yahei';
  _line-height: 20px;
  cursor: pointer;
  background: #e1d9cc;
  border: #d9cebd 1px solid;
  color: #666666;
  margin-top: 20px;
}

/*# sourceMappingURL=goodsParticulars.css.map */
