/*header*/
.header {
  width: 100%;
  height: 38px;
  background-color: #f4f4f4; }
.header .header-wrapper {
  width: 1200px;
  margin: 0 auto;
  position: relative; }
.header .header-wrapper .header-left {
  float: left;
  color: #333;
  line-height: 38px;
  padding: 0 10px;
  cursor: pointer; }
.header .header-wrapper .header-left span {
  background: url(../img/index-img/arrow-up.png) no-repeat right center;
  padding-right: 13px; }
.header .header-wrapper .AreaList {
  display: none;
  position: absolute;
  left: 0;
  top: 38px;
  width: 320px;
  height: 201px;
  padding: 17px 10px 10px 10px;
  border: 1px solid #e7e7e7;
  border-top: 0;
  background-color: #fff; }
.header .header-wrapper .AreaList li {
  float: left;
  width: 54px;
  height: 18px;
  overflow: hidden;
  display: inline-block;
  margin: 0 0 10px 10px; }
.header .header-wrapper .AreaList li a {
  display: inline-block;
  height: 18px;
  padding: 0 5px; }
.header .header-wrapper .AreaList li a:hover {
  background-color: #f4f4f4;
  color: #fff; }
.header .header-wrapper .channel {
  float: right; }
.header .header-wrapper .channel li {
  position: relative;
  float: left;
  line-height: 38px;
  padding: 0 20px;
  background: url(../img/index-img/icon-line.png) no-repeat left center;
  cursor: pointer; }
.header .header-wrapper .channel li div {
  position: absolute;
  border: 1px solid #e7e7e7;
  border-top: 0;
  background-color: #fff;
  display: block;
  overflow: hidden; }
.header .header-wrapper .channel li .stylist {
  background: url(../img/index-img/icon-sjs.png) no-repeat left center; }
.header .header-wrapper .channel li .UserCenter {
  background: url(../img/index-img/icon-user.png) no-repeat left center; }
.header .header-wrapper .channel li .UserCenterSelect {
  display: none;
  left: 1px;
  top: 38px;
  width: 106px;
  height: 96px; }
.header .header-wrapper .channel li .UserCenterSelect a {
  display: block;
  line-height: 30px;
  padding-left: 20px; }
.header .header-wrapper .channel li .cart {
  background: url(../img/index-img/icon-car.png) no-repeat left center; }
.header .header-wrapper .channel li .cart .cart-amount {
  font-weight: bold; }
.header .header-wrapper .channel li .cartCommodity {
  display: none;
  width: 331px;
  height: auto;
  left: 1px;
  top: 38px; }
.header .header-wrapper .channel li .cartCommodity .noCommodity {
  padding: 30px 20px;
  color: #999;
  line-height: 12px; }
.header .header-wrapper .channel li .cartCommodity .viewCart {
  text-align: right;
  margin-right: 10px; }
.header .header-wrapper .channel li .cartCommodity .viewCart a {
  color: #fff;
  background-color: #f60;
  display: inline-block;
  width: 120px;
  height: 24px;
  font-weight: 600;
  border-radius: 5px;
  font-size: 0 10px 14px 0;
  text-align: center;
  padding: 0;
  line-height: 24px; }
.header .header-wrapper .channel li span {
  color: #f60; }
.header .header-wrapper .channel .stylist, .header .header-wrapper .channel .UserCenter, .header .header-wrapper .channel .cart {
  padding-left: 20px; }
.header .header-wrapper .channel .service {
  padding-right: 0; }
.header .header-wrapper .User {
  float: right;
  line-height: 38px;
  padding-right: 20px; }
.header .header-wrapper a:hover {
  color: #f60; }

/*logo*/
.logo {
  width: 100%;
  height: 111px;
  background-color: #fff; }
.logo .logo-wrapper {
  width: 1200px;
  height: 100%;
  padding-top: 20px;
  margin: 0 auto; }
.logo .logo-wrapper .logoImg {
  float: left;
  padding-top: 10px; }
.logo .logo-wrapper .logoImg a {
  display: block;
  height: 51px;
  width: 241px;
  background: url(../img/index-img/logo.jpg) no-repeat left center; }
.logo .logo-wrapper .search-wrapper {
  float: left;
  margin-left: 130px; }
.logo .logo-wrapper .search-wrapper .search-type {
  height: 26px; }
.logo .logo-wrapper .search-wrapper .search-type li {
  float: left;
  color: #ff6600;
  padding: 0 12px;
  font-size: 14px;
  cursor: pointer;
  height: 26px; }
.logo .logo-wrapper .search-wrapper .search-box {
  float: left;
  height: 18px;
  width: 358px;
  padding: 8px;
  background: #fff;
  display: inline-block;
  border: 2px solid #ff6600;
  border-right: 0;
  font: 14px/18px "Microsoft Yahei", Verdana, Tahoma, sans-serif; }
.logo .logo-wrapper .search-wrapper .goSearch {
  height: 38px;
  width: 61px;
  border: 0;
  float: left;
  background: url(../img/index-img/icon-S.jpg) no-repeat center;
  cursor: pointer; }
.logo .logo-wrapper .phone {
  float: right;
  vertical-align: middle; }

/*nav*/
.nav {
  width: 100%;
  height: 50px;
  background: #4e433d;
  min-width: 1200px; }
.nav .nav-wrapper {
  width: 1200px;
  margin: 0 auto; }
.nav .nav-wrapper .nav-left {
  float: left;
  padding-left: 40px;
  padding-right: 12px;
  background: url(../img/index-img/icon-all.png) no-repeat 14px center; }
.nav .nav-wrapper .nav-right {
  float: right;
  width: 1062px;
  display: inline-block;
  height: 50px; }
.nav .nav-wrapper .nav-right .nav-option {
  float: left;
  display: inline-block;
  width: 118px;
  height: 50px;
  text-align: center; }
.nav .nav-wrapper .nav-right .nav-option .nav-pullDown {
  display: inline-block;
  padding-right: 15px;
  background: url(../img/index-img/icon-ab.png) no-repeat right center;
  position: relative; }
.nav .nav-wrapper .nav-right .nav-option .nav-pullDown .nav-free {
  width: 24px;
  height: 21px;
  display: block;
  position: absolute;
  right: -16px;
  top: 0;
  background: url(../img/index-img/free.gif) no-repeat 0 0; }
.nav .nav-wrapper .nav-right .nav-option .nav-pullDown .nav-hot {
  width: 24px;
  height: 21px;
  display: block;
  position: absolute;
  right: -16px;
  top: 0;
  background: url(../img/index-img/hot.gif) no-repeat 0 0; }
.nav .nav-wrapper .nav-right .nav-option .nav-pullDown .nav-new {
  width: 24px;
  height: 21px;
  display: block;
  position: absolute;
  right: -16px;
  top: 0;
  background: url(../img/index-img/new.gif) no-repeat 0 0; }
.nav .nav-wrapper .nav-right .nav-option .nav-demand {
  position: relative; }
.nav .nav-wrapper .nav-right .nav-option .nav-demand .demand {
  width: 63px;
  height: 15px;
  position: absolute;
  left: 0;
  top: -10px;
  display: block;
  background: url(../img/index-img/icon-bq.png) no-repeat -83px 0; }
.nav .nav-wrapper a {
  font: 16px/50px "Microsoft Yahei", Verdana, Tahoma, sans-serif;
  color: #fff; }

/*# sourceMappingURL=index.css.map */
