/*font*/
@font-face {
  font-family: 'iconfont';
  src: url("iconfont.eot");
  /* IE9*/
  src: url("iconfont.eot?#iefix") format("embedded-opentype"), url("iconfont.woff") format("woff"), url("iconfont.ttf") format("truetype"), url("iconfont.svg#iconfont") format("svg");
  /* iOS 4.1- */
}
/*shadow*/
.bigShadow {
  box-shadow: 5px 5px 10px #ccc;
  -webkit-box-shadow: 5px 5px 10px #ccc;
  -moz-box-shadow: 5px 5px 10px #ccc;
}

.littleShadow {
  box-shadow: 5px 10px 15px #ccc;
  -webkit-box-shadow: 5px 10px 15px #ccc;
  -moz-box-shadow: 5px 10px 15px #ccc;
}

/*main picture*/
/*header*/
.header {
  width: 100%;
  height: 38px;
  background-color: #f4f4f4;
}
.header .header-wrapper {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
.header .header-wrapper .header-left {
  float: left;
  color: #333;
  line-height: 38px;
  padding: 0 10px;
  cursor: pointer;
}
.header .header-wrapper .header-left span {
  background: url(../img/index-img/arrow-up.png) no-repeat right center;
  padding-right: 13px;
}
.header .header-wrapper .AreaList {
  display: none;
  position: absolute;
  left: 0;
  top: 38px;
  width: 320px;
  height: 201px;
  padding: 17px 10px 10px 10px;
  border: 1px solid #e7e7e7;
  border-top: 0;
  background-color: #fff;
}
.header .header-wrapper .AreaList li {
  float: left;
  width: 54px;
  height: 18px;
  overflow: hidden;
  display: inline-block;
  margin: 0 0 10px 10px;
}
.header .header-wrapper .AreaList li a {
  display: inline-block;
  height: 18px;
  padding: 0 5px;
}
.header .header-wrapper .AreaList li a:hover {
  background-color: #f4f4f4;
  color: #fff;
}
.header .header-wrapper .channel {
  float: right;
}
.header .header-wrapper .channel li {
  position: relative;
  float: left;
  line-height: 38px;
  padding: 0 20px;
  background: url(../img/index-img/icon-line.png) no-repeat left center;
  cursor: pointer;
}
.header .header-wrapper .channel li div {
  position: absolute;
  border: 1px solid #e7e7e7;
  border-top: 0;
  background-color: #fff;
  display: block;
  overflow: hidden;
}
.header .header-wrapper .channel li .stylist {
  background: url(../img/index-img/icon-sjs.png) no-repeat left center;
}
.header .header-wrapper .channel li .UserCenter {
  background: url(../img/index-img/icon-user.png) no-repeat left center;
}
.header .header-wrapper .channel li .UserCenterSelect {
  display: none;
  left: 1px;
  top: 38px;
  width: 106px;
  height: 96px;
}
.header .header-wrapper .channel li .UserCenterSelect a {
  display: block;
  line-height: 30px;
  padding-left: 20px;
}
.header .header-wrapper .channel li .cart {
  background: url(../img/index-img/icon-car.png) no-repeat left center;
}
.header .header-wrapper .channel li .cart .cart-amount {
  font-weight: bold;
}
.header .header-wrapper .channel li .cartCommodity {
  display: none;
  width: 331px;
  height: auto;
  left: 1px;
  top: 38px;
}
.header .header-wrapper .channel li .cartCommodity .noCommodity {
  padding: 30px 20px;
  color: #999;
  line-height: 12px;
}
.header .header-wrapper .channel li .cartCommodity .viewCart {
  text-align: right;
  margin-right: 10px;
}
.header .header-wrapper .channel li .cartCommodity .viewCart a {
  color: #fff;
  background-color: #f60;
  display: inline-block;
  width: 120px;
  height: 24px;
  font-weight: 600;
  border-radius: 5px;
  font-size: 0 10px 14px 0;
  text-align: center;
  padding: 0;
  line-height: 24px;
}
.header .header-wrapper .channel li span {
  color: #f60;
}
.header .header-wrapper .channel .stylist, .header .header-wrapper .channel .UserCenter, .header .header-wrapper .channel .cart {
  padding-left: 20px;
}
.header .header-wrapper .channel .service {
  padding-right: 0;
}
.header .header-wrapper .User {
  float: right;
  line-height: 38px;
  padding-right: 20px;
}
.header .header-wrapper a:hover {
  color: #f60;
}

/*logo*/
.logo {
  width: 100%;
  height: 111px;
  background-color: #fff;
}
.logo .logo-wrapper {
  width: 1200px;
  height: 100%;
  padding-top: 20px;
  margin: 0 auto;
}
.logo .logo-wrapper .logoImg {
  float: left;
  padding-top: 10px;
}
.logo .logo-wrapper .logoImg a {
  display: block;
  height: 51px;
  width: 241px;
  background: url(../img/index-img/logo.jpg) no-repeat left center;
}
.logo .logo-wrapper .search-wrapper {
  float: left;
  margin-left: 130px;
}
.logo .logo-wrapper .search-wrapper .search-type {
  height: 26px;
}
.logo .logo-wrapper .search-wrapper .search-type li {
  float: left;
  color: #ff6600;
  padding: 0 12px;
  font-size: 14px;
  cursor: pointer;
  height: 26px;
}
.logo .logo-wrapper .search-wrapper .search-box {
  float: left;
  height: 18px;
  width: 358px;
  padding: 8px;
  background: #fff;
  display: inline-block;
  border: 2px solid #ff6600;
  border-right: 0;
  font: 14px/18px "Microsoft Yahei", Verdana, Tahoma, sans-serif;
}
.logo .logo-wrapper .search-wrapper .goSearch {
  height: 38px;
  width: 61px;
  border: 0;
  float: left;
  background: url(../img/index-img/icon-S.jpg) no-repeat center;
  cursor: pointer;
}
.logo .logo-wrapper .phone {
  float: right;
  vertical-align: middle;
}

/*nav*/
.nav {
  width: 100%;
  height: 50px;
  background: #4e433d;
  min-width: 1200px;
  position: relative;
}
.nav a {
  cursor: pointer;
}
.nav .nav-wrapper {
  width: 1200px;
  margin: 0 auto;
  /*menu*/
}
.nav .nav-wrapper .nav-left {
  float: left;
  padding-left: 40px;
  padding-right: 12px;
  background: url(../img/index-img/icon-all.png) no-repeat 14px center;
  position: relative;
}
.nav .nav-wrapper .menu-wrapper .menu {
  display: none;
  width: 200px;
  height: 456px;
  background: #fffdfc;
  position: absolute;
  left: 0;
  top: 50px;
  border-top: none !important;
  border: 1px solid #dbdbdb;
  padding-top: 10px;
}
.nav .nav-wrapper .menu-wrapper .menu .goods-menu {
  width: 201px;
  height: 57px;
  position: relative;
  padding: 0 20px;
  overflow: hidden;
}
.nav .nav-wrapper .menu-wrapper .menu .goods-menu .menu-left {
  display: inline-block;
  float: left;
  font: 14px/1 "Microsoft Yahei", Verdana, Tahoma, sans-serif;
  position: relative;
  width: 160px;
  height: 37px;
}
.nav .nav-wrapper .menu-wrapper .menu .goods-menu .menu-left .menu-left-top {
  color: #333;
  font: 14px/15px "Microsoft Yahei", Verdana, Tahoma, sans-serif;
  display: block;
  font-weight: bold;
}
.nav .nav-wrapper .menu-wrapper .menu .goods-menu .menu-left .menu-left-bottom {
  padding-top: 8px;
  display: block;
}
.nav .nav-wrapper .menu-wrapper .menu .goods-menu .menu-left .menu-left-bottom a {
  color: #999;
  padding-right: 10px;
  font: 12px/1 "Microsoft Yahei", Verdana, Tahoma, sans-serif;
}
.nav .nav-wrapper .menu-wrapper .menu .goods-item {
  border-top: none !important;
  display: none;
  border: 1px solid #675d57;
  width: 790px !important;
  height: 457px;
  position: absolute;
  background-color: #fff;
  left: 200px;
  top: 0;
}
.nav .nav-wrapper .menu-wrapper .menu .goods-item .item-left {
  padding: 19px 0 0 33px;
  float: left;
  display: inline-block;
}
.nav .nav-wrapper .menu-wrapper .menu .goods-item .item-left .menu-left {
  width: 500px;
  height: auto;
}
.nav .nav-wrapper .menu-wrapper .menu .goods-item .item-left .menu-left .item {
  font-size: 15px;
  font-weight: 900;
  color: #675d57;
  float: left;
  margin: 12px 25px 9px 0 !important;
  display: inline-block;
  line-height: 100% !important;
  width: 90px !important;
}
.nav .nav-wrapper .menu-wrapper .menu .goods-item .item-left .menu-left ul {
  width: 381px !important;
  float: left !important;
  overflow: hidden;
  margin-bottom: 12px !important;
}
.nav .nav-wrapper .menu-wrapper .menu .goods-item .item-left .menu-left ul li {
  display: inline-block;
  width: auto !important;
  margin: 12px 23px 0 0 !important;
  line-height: 100% !important;
  height: auto  !important;
  float: left  !important;
}
.nav .nav-wrapper .menu-wrapper .menu .goods-item .item-left .menu-left ul li a {
  color: #333;
}
.nav .nav-wrapper .menu-wrapper .menu .goods-item .item-left .menu-left ul li .new-color {
  color: #ff4301;
}
.nav .nav-wrapper .menu-wrapper .menu .goods-item .item-right {
  float: right;
  display: inline-block;
  position: absolute !important;
  top: 35px !important;
  right: 30px !important;
  width: 240px !important;
  height: 394px !important;
  border: none !important;
  overflow: hidden;
}
.nav .nav-wrapper .menu-wrapper .menu .goods-item .item-right a {
  display: block;
  margin-bottom: 20px !important;
}
.nav .nav-wrapper .menu-wrapper .menu .goods-item .item-right a img {
  vertical-align: middle;
}
.nav .nav-wrapper .nav-right {
  float: left;
  width: 1062px;
  display: inline-block;
  height: 50px;
  position: relative;
}
.nav .nav-wrapper .nav-right .nav-option {
  float: left;
  display: inline-block;
  width: 118px;
  height: 50px;
  text-align: center;
}
.nav .nav-wrapper .nav-right .nav-option .nav-pullDown {
  display: inline-block;
  padding-right: 15px;
  background: url(../img/index-img/icon-ab.png) no-repeat right center;
  position: relative;
}
.nav .nav-wrapper .nav-right .nav-option .nav-pullDown .nav-free {
  width: 24px;
  height: 21px;
  display: block;
  position: absolute;
  right: -16px;
  top: 0;
  background: url(../img/index-img/free.gif) no-repeat 0 0;
}
.nav .nav-wrapper .nav-right .nav-option .nav-pullDown .nav-hot {
  width: 24px;
  height: 21px;
  display: block;
  position: absolute;
  right: -16px;
  top: 0;
  background: url(../img/index-img/hot.gif) no-repeat 0 0;
}
.nav .nav-wrapper .nav-right .nav-option .nav-pullDown .nav-new {
  width: 24px;
  height: 21px;
  display: block;
  position: absolute;
  right: -16px;
  top: 0;
  background: url(../img/index-img/new.gif) no-repeat 0 0;
}
.nav .nav-wrapper .nav-right .nav-option .nav-demand {
  position: relative;
}
.nav .nav-wrapper .nav-right .nav-option .nav-demand .demand {
  width: 63px;
  height: 15px;
  position: absolute;
  left: 0;
  top: -10px;
  display: block;
  background: url(../img/index-img/icon-bq.png) no-repeat -83px 0;
}
.nav .nav-wrapper .nav-a {
  font: 16px/50px "Microsoft Yahei", Verdana, Tahoma, sans-serif;
  color: #fff;
}
.nav .nav-content {
  display: none;
  width: 100%;
  height: 200px;
  border-bottom: 1px solid #ccc;
  box-shadow: 1px 6px 6px -5px #ccc;
  position: absolute;
  left: 0;
  top: 50px;
  background: #fff;
}
.nav .nav-content .nav-container {
  width: 1200px;
  margin: 0 auto;
  height: 200px;
}
.nav .nav-content .nav-container .nav-container-wrapper {
  width: 1180px;
  margin: 0 10px;
  display: inline-block;
  height: 200px;
}
.nav .nav-content .nav-container .nav-container-wrapper .nav-select {
  display: none;
  height: 130px;
  margin-top: 35px;
  border-left: 1px solid #e7e7e7;
  float: left;
}
.nav .nav-content .nav-container .nav-container-wrapper .nav-select dl {
  width: 220px;
  height: 150px;
  overflow: hidden;
  float: left;
}
.nav .nav-content .nav-container .nav-container-wrapper .nav-select dl:hover {
  background: #fafafa;
}
.nav .nav-content .nav-container .nav-container-wrapper .nav-select dl:hover a {
  color: #f60;
}
.nav .nav-content .nav-container .nav-container-wrapper .nav-select dl dt {
  display: inline-block;
  float: left;
  width: 219px;
  height: 130px;
  border-right: 1px solid #e7e7e7;
  overflow: hidden;
  text-align: center;
}
.nav .nav-content .nav-container .nav-container-wrapper .nav-select dl dt .color-orange {
  font: 16px/1 "Microsoft Yahei", Verdana, Tahoma, sans-serif;
}
.nav .nav-content .nav-container .nav-container-wrapper .nav-select dl dd {
  font: 14px/18px "Microsoft Yahei", Verdana, Tahoma, sans-serif;
  color: #f60;
  display: block;
  text-align: center;
  width: 219px;
  float: left;
}
.nav .nav-content .nav-container .nav-container-wrapper .nav-select .forDesign-more {
  width: 56px;
  height: 22px;
  display: inline-block;
  margin: 109px 0 0 20px;
  float: left;
  background: url(../img/index-img/icon-more.jpg) no-repeat center;
}
.nav .nav-content .nav-container .nav-container-wrapper .nav-select .forDesign-more:hover {
  background: url(../img/index-img/icon-more.png) no-repeat center;
}

/*main*/
.main {
  width: 100%;
  height: auto !important;
  min-height: 340px;
  /*banner*/
  /*floor*/
}
.main .banner {
  background: #d76438;
}
.main .banner .banner-wrapper {
  width: 1200px;
  height: 340px;
  margin: 0 auto;
  position: relative;
}
.main .banner .banner-wrapper .arrow {
  font-size: 50px;
  font-weight: 100;
  width: 50px;
  height: 100px;
  background: #000;
  opacity: 0.1;
  filter: alpha(opacity=10);
  position: absolute;
  top: 30%;
  color: #e1e1e1;
  line-height: 100px;
  cursor: pointer;
  text-align: center;
  z-index: 2;
}
.main .banner .banner-wrapper .banner-prev {
  left: 0;
}
.main .banner .banner-wrapper .banner-next {
  right: 0;
}
.main .banner .banner-wrapper .banner-imgs .first-li {
  display: block;
  opacity: 1;
}
.main .banner .banner-wrapper .banner-imgs li {
  position: absolute;
  text-align: center;
  width: 100%;
  display: none;
}
.main .banner .banner-wrapper .banner-imgs li a {
  display: inline-block;
  margin: 0 auto;
}
.main .banner .banner-wrapper .img-cur {
  background: url(../img/index-img/banner-cur.png) no-repeat center;
  width: 115px !important;
  height: 15px;
  position: absolute;
  left: 552px;
  bottom: 20px;
  text-align: center;
  z-index: 3;
  padding: 2px 2px;
}
.main .banner .banner-wrapper .img-cur .dotColor {
  width: 8px;
  height: 8px;
  background-color: #f60;
  margin-top: 4px;
}
.main .banner .banner-wrapper .img-cur span {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
  float: left;
  margin-left: 9px;
  cursor: pointer;
  color: #fff;
  margin-top: 2px;
}
.main .banner .banner-wrapper .img-cur .dot-left {
  margin-left: 15px;
}
.main .floor-wrapper {
  margin: 0 auto;
  margin-top: 20px;
  width: 1200px;
  height: 90px;
}
.main .floor-wrapper .change-like {
  float: left;
  display: inline-block;
  position: relative;
}
.main .floor-wrapper .change-like img {
  vertical-align: middle;
}
.main .floor-wrapper .change-list {
  margin-left: 20px;
  float: left;
  display: inline;
  position: relative;
  width: 920px;
  height: 90px;
}
.main .floor-wrapper .change-list .picture-show {
  position: relative;
  margin-right: 10px;
  display: block;
  float: left;
}
.main .floor-wrapper .iconfont {
  font-family: "iconfont" !important;
  font-size: 32px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.main .floor-wrapper .change-right {
  float: right;
  display: inline;
  width: 48px;
  height: 88px;
  border: 1px solid #ebebeb;
  line-height: 90px;
  text-align: center;
  color: #999;
  cursor: pointer;
}
.main .floor-wrapper .change-right:hover {
  color: #ff6600;
  border-color: #ff6600;
}
.main .hotSellOne {
  width: 1180px;
  margin: 0 auto;
}
.main .hotSellOne .hotSellOne-wrapper {
  text-align: center;
}
.main .hotSellOne .hotSellOne-wrapper .hotSell-title {
  font-size: 24px;
  width: 440px;
  line-height: 100%;
  margin: 0 auto;
  margin-top: 40px;
  padding-bottom: 30px;
  background: url(../img/index-img/floor-title.png) no-repeat 0 10px;
}
.main .hotSellOne .hotSellOne-wrapper .hotSellOne-lists {
  height: 360px;
  position: relative;
}
.main .hotSellOne .hotSellOne-wrapper .hotSellOne-lists .lists-box {
  width: 380px;
  margin-right: 20px;
  float: left;
  display: inline;
  position: relative;
}
.main .hotSellOne .hotSellOne-wrapper .hotSellOne-lists .lists-box:hover {
  margin-top: -5px;
}
.main .hotSellOne .hotSellOne-wrapper .hotSellOne-lists .lists-box .lists-box-a {
  overflow: hidden;
  display: block;
  position: relative;
}
.main .hotSellOne .hotSellOne-wrapper .hotSellOne-lists .lists-box .positionBase {
  position: relative;
}
.main .hotSellOne .hotSellOne-wrapper .hotSellOne-lists .lists-box .hotGoods-picture {
  background: url(../img/index-img/rmsp1.png) no-repeat;
  position: absolute;
  left: 0;
  top: 249px;
  width: 380px;
  height: 26px;
}
.main .hotSellOne .hotSellOne-wrapper .hotSellOne-lists .lists-box .lists-title {
  padding: 25px 10px;
  background: #fafafa;
}
.main .hotSellOne .hotSellOne-wrapper .hotSellOne-lists .lists-box .lists-title .text-herf {
  line-height: 20px;
  font-size: 16px;
  color: #333;
  width: 100%;
  height: 20px;
  font-family: 'Microsoft Yahei',Verdana,Tahoma, sans-serif;
}
.main .hotSellOne .hotSellOne-wrapper .hotSellOne-lists .lists-box .lists-title .text-herf a {
  /*width: 210px;*/
  padding-right: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  float: left;
}
.main .hotSellOne .hotSellOne-wrapper .hotSellOne-lists .lists-box .lists-title .text-herf a:hover {
  color: #f60;
}
.main .hotSellOne .hotSellOne-wrapper .hotSellOne-lists .lists-box .lists-title .text-herf span {
  float: left;
  font-size: 16px;
  color: #999;
  display: inline;
}
.main .hotSellOne .hotSellOne-wrapper .hotSellOne-lists .lists-box .lists-title .text-herf .priceColor1 {
  font-size: 24px;
  color: #f60;
}
.main .hotSellOne .hotSellOne-wrapper .hotSellOne-lists .lists-box .lists-title-a {
  width: 210px;
}
.main .hotSellOne .hotSellOne-wrapper .hotSellOne-lists .last-list {
  margin-right: 0;
}
.main .hotSellOne .hotSellOne-wrapper .hotSellTwo-lists .hotSellTwo-li {
  width: 280px;
  margin-right: 20px;
  float: left;
  display: inline;
  position: relative;
}
.main .hotSellOne .hotSellOne-wrapper .hotSellTwo-lists .hotSellTwo-li .hotSellTwo-a {
  overflow: hidden;
  display: block;
  position: relative;
}
.main .hotSellOne .hotSellOne-wrapper .hotSellTwo-lists .hotSellTwo-li .hotSellTwo-a img {
  max-height: 210px;
  height: auto !important;
}
.main .hotSellOne .hotSellOne-wrapper .hotSellTwo-lists .hotSellTwo-li .newGoods {
  background: url(../img/index-img/xpss.png) no-repeat;
  right: 3px;
  top: -6px;
  position: absolute;
  width: 71px;
  height: 24px;
}
.main .hotSellOne .hotSellOne-wrapper .hotSellTwo-lists .hotSellTwo-li:hover {
  margin-top: -5px;
}
.main .hotSellOne .hotSellOne-wrapper .hotSellTwo-lists .last-list {
  margin-right: 0;
}
.main .hotSellOne .hotSellOne-wrapper .lists-title {
  padding: 25px 10px;
  background: #fafafa;
}
.main .hotSellOne .hotSellOne-wrapper .lists-title .text-herf {
  line-height: 20px;
  font-size: 16px;
  color: #333;
  width: 100%;
  height: 20px;
  font-family: 'Microsoft Yahei',Verdana,Tahoma, sans-serif;
}
.main .hotSellOne .hotSellOne-wrapper .lists-title .text-herf a {
  /*width: 210px;*/
  padding-right: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  float: left;
}
.main .hotSellOne .hotSellOne-wrapper .lists-title .text-herf a:hover {
  color: #f60;
}
.main .hotSellOne .hotSellOne-wrapper .lists-title .text-herf span {
  float: left;
  font-size: 16px;
  color: #999;
  display: inline;
}
.main .hotSellOne .hotSellOne-wrapper .lists-title .text-herf .priceColor1 {
  font-size: 24px;
  color: #f60;
}
.main .hotSellOne .hotSellOne-wrapper .hotGoods-position {
  background: url(../img/index-img/rmsp.png) no-repeat;
  right: 3px;
  top: -6px;
  position: absolute;
  width: 71px;
  height: 24px;
}

/*# sourceMappingURL=index.css.map */
