@charset "utf-8";
/*font*/
@font-face {font-family: 'iconfont';
    src: url('iconfont.eot'); /* IE9*/
    src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('iconfont.woff') format('woff'), /* chrome、firefox */
    url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
/*shadow*/
@mixin box-shadow($x:0,$y:0,$expand:10px,$color: #ccc){
	box-shadow: $x $y $expand $color;
	-webkit-box-shadow: $x $y $expand $color;
	-moz-box-shadow: $x $y $expand $color;
}
.bigShadow{
	@include box-shadow(5px,5px,10px);
}
.littleShadow{
	@include box-shadow(5px,10px,15px);
}
/*main picture*/
@mixin picTitle{
	.lists-title{
		padding: 25px 10px;
		background: #fafafa;
		.text-herf{
			line-height: 20px;
			font-size: 16px;
			color: #333;
			width: 100%;
			height: 20px;
			font-family: 'Microsoft Yahei',Verdana,Tahoma, sans-serif;
			a{
				/*width: 210px;*/
				padding-right: 14px;
				text-overflow: ellipsis;
				white-space: nowrap;
				float: left;
				&:hover{
					color: #f60;
				}
			}
			span{
				float: left;
				font-size: 16px;
				color: #999;
				display: inline;
			}
			.priceColor1{
				font-size: 24px;
				color: #f60;
			}

		}
	}
}
/*间距设置*/
@function getMargin($parent: 1200px,$child: 240px,$num: 4){
	@return ( $parent -$child * $num ) / $num;
}
/*header*/
$width: 100%;
@mixin divBorder{
	border: 1px solid #e7e7e7;
	border-top: 0;
	background-color: #fff;
}
@mixin headerBorder{
	border: 1px solid #f4f4f4;
	border-top: 0;
	border-bottom: 0;
}
@mixin navFlash{
	width: 24px;
	height: 21px;
	display: block;
	position: absolute;
	right: -16px;
	top: 0;
}
.header{
	width: $width;
	height:38px;
	background-color: #f4f4f4;
	.header-wrapper{
		width:1200px;
		margin: 0 auto;
		position: relative;
		.header-left{
			float: left;
			color: #333;
			line-height: 38px;
			padding: 0 10px;
			cursor: pointer;
			span{
				background: url(../img/index-img/arrow-up.png) no-repeat right center;
				padding-right:13px;
			}
		}
		.AreaList{
			display: none;
			position: absolute;
			left: 0 ;
			top: 38px;
			width: 320px;
			height: 201px;
			padding: 17px 10px 10px 10px;
			@include divBorder;
			li{
				float: left;
				width: 54px;
				height: 18px;
				overflow: hidden;
				display: inline-block;
				margin: 0 0 10px 10px;
				a{
					display: inline-block;
					height: 18px; 
					padding: 0 5px;
					&:hover{
						background-color: #f4f4f4;
						color: #fff;
					}
				}
			}
			
		}
		.channel{
			float: right;
			li{
				position: relative;
				float: left;
				line-height: 38px;
				padding:0 20px;
				background: url(../img/index-img/icon-line.png) no-repeat left center;
				cursor: pointer;
				div{
					position: absolute;
					@include divBorder;
					display: block;
					overflow: hidden;
				}
				.stylist{
					background: url(../img/index-img/icon-sjs.png) no-repeat left center;
				}
				.UserCenter{
					background: url(../img/index-img/icon-user.png) no-repeat left center;

				}
				.UserCenterSelect{
					display: none;
					left: 1px;
					top:38px;
					width:106px;
					height:96px;
					a{
						display: block;
						line-height: 30px;
						padding-left: 20px;
					}
				}
				.cart{
					background: url(../img/index-img/icon-car.png) no-repeat left center;
					.cart-amount{
						font-weight: bold;
					}
				}
				.cartCommodity{
					display: none;
					width: 331px;
					height: auto;
					left:  1px;
					top: 38px;
					.noCommodity{
						padding: 30px 20px;
						color: #999;
						line-height: 12px;
					}
					.viewCart{
						text-align:right;
						margin-right: 10px;
						a{
							color: #fff;
							background-color: #f60;
							display: inline-block;
							width: 120px;
							height: 24px;
							font-weight: 600;
							border-radius: 5px;
							font-size: 0 10px 14px 0;
							text-align: center;
							padding: 0;
							line-height:24px;

						}
					}
				}
				span{
					color: #f60;
				}
			}
			.stylist,.UserCenter,.cart{
				padding-left: 20px;
			}
			.service{
				padding-right: 0;
			}
			
		}
		.User{
			float:right;
			line-height: 38px;
			padding-right: 20px;
		}
		a:hover{
				color: #f60;
			}
	}
}

/*logo*/
.logo{
	width: $width;
	height: 111px;
	background-color: #fff;
	.logo-wrapper{
		width: 1200px;
		height: 100%;
		padding-top: 20px;
		margin: 0 auto;
		.logoImg{
			float: left;
			padding-top: 10px;
			a{
				display: block;
				height: 51px;
				width: 241px;
				background: url(../img/index-img/logo.jpg) no-repeat left center;
			}
		}
		.search-wrapper{
			float: left;
			margin-left: 130px;
			.search-type{
				height: 26px;
				li{
					float: left;
					color: #ff6600;
					padding: 0 12px;
					font-size: 14px;
					cursor: pointer;
					height: 26px;
				}
			}
			.search-box{
				float: left;
				height: 18px;
				width: 358px;
				padding: 8px;
				background: #fff;
				display: inline-block;
				border: 2px solid #ff6600;
				border-right: 0;
				font: 14px/18px "Microsoft Yahei", Verdana, Tahoma, sans-serif;
			}
			.goSearch{
				height: 38px;
				width: 61px;
				border: 0;
				float: left;
				background: url(../img/index-img/icon-S.jpg) no-repeat center;
				cursor: pointer;
			}
		}
		.phone{
			float: right;
			vertical-align: middle;
		}
	}
}
/*nav*/
.nav{
	width: 100%;
	height: 50px;
	background: #4e433d;
	min-width: 1200px;
	position: relative;
	a{
		cursor: pointer;
	}
	.nav-wrapper{
		width: 1200px;
		margin: 0 auto;
		.nav-left{
			float: left;
			padding-left: 40px;
			padding-right: 12px;
			background: url(../img/index-img/icon-all.png) no-repeat 14px center;
			position: relative;
		}
		/*menu*/
		.menu-wrapper{
			.menu{
				display: none;
				width: 200px;
				height: 456px;
				background: #fffdfc;
				position: absolute;
				left: 0;
				top: 50px;
				border-top:none !important;
				border: 1px solid #dbdbdb;
				padding-top: 10px;
				.goods-menu{
					width: 201px;
					height: 57px;
					position: relative;
					padding: 0 20px;
					overflow: hidden;
					.menu-left{
						display: inline-block;
						float: left;
						font: 14px/1 "Microsoft Yahei", Verdana, Tahoma, sans-serif;
						position: relative;
						width: 160px;
						height: 37px;
						.menu-left-top{
							color: #333;
							font: 14px/15px "Microsoft Yahei", Verdana, Tahoma, sans-serif;
							display: block;
							font-weight: bold;
						}
						.menu-left-bottom{
							padding-top: 8px;
							display: block;
							a{
								color: #999;
								padding-right: 10px;
								font: 12px/1 "Microsoft Yahei", Verdana, Tahoma, sans-serif;
							}
						}
					}
				}
				.goods-item{
					border-top: none !important;
					display: none;
					border: 1px solid #675d57;
					width: 790px !important;
					height: 457px;
					position: absolute;
					background-color: #fff;
					left: 200px;
					top: 0;
					.item-left{
						padding: 19px 0 0 33px;
						float: left;
						display: inline-block;
						.menu-left{
							width: 500px;
							height: auto;
							.item{
								font-size: 15px;
								font-weight: 900;
								color: #675d57;
								float: left;
								margin: 12px 25px 9px 0 !important;
								display: inline-block;
								line-height: 100% !important;
								width: 90px !important;
							}
							ul{
								width: 381px !important;
								float: left !important;
								overflow: hidden;
								margin-bottom: 12px !important;
								li{
									display: inline-block;
									width: auto !important;
									margin: 12px 23px 0 0 !important;
									line-height: 100% !important;
									height: auto  !important;
									float: left  !important;
									a{
										color: #333;
									}
									.new-color{
										color: #ff4301;
									}
								}
							}
						}
					}
					.item-right{
						float: right;
						display: inline-block;
						position: absolute !important;
						top: 35px !important;
						right: 30px !important;
						width: 240px !important;
						height: 394px !important;
						border: none !important;
						overflow: hidden;
						a{
							display: block;
							margin-bottom: 20px !important;
							img{
								vertical-align: middle;
							}
						}
					}
				}
			}
		}
		.nav-right{
			float: left;
			width: 1062px;
			display: inline-block;
			height: 50px;
			position: relative;
			.nav-option{
				float: left;
				display: inline-block;
				width: 118px;
				height: 50px;
				text-align: center;
				.nav-pullDown{
					display: inline-block;
					padding-right: 15px;
					background: url(../img/index-img/icon-ab.png) no-repeat right center;
					position: relative;
					.nav-free{
						@include navFlash;
						background: url(../img/index-img/free.gif) no-repeat 0 0;
					}
					.nav-hot{
						@include navFlash;
						background: url(../img/index-img/hot.gif) no-repeat 0 0;
					}
					.nav-new{
						@include navFlash;
						background: url(../img/index-img/new.gif) no-repeat 0 0;
					}
				}
				.nav-demand{
					position: relative;
					.demand{
						width: 63px;
						height: 15px;
						position: absolute;
						left: 0;
						top: -10px;
						display: block;
						background: url(../img/index-img/icon-bq.png) no-repeat -83px 0;
					}
				}
			}
		}
		.nav-a{
			font: 16px/50px "Microsoft Yahei", Verdana, Tahoma, sans-serif;
			color: #fff;
		}
	}
	.nav-content{
			display: none;
			width: 100%;
			height: 200px;
			border-bottom: 1px solid #ccc;
			box-shadow: 1px 6px 6px -5px #ccc;
			position: absolute;
			left: 0;
			top: 50px;
			background: #fff;
			.nav-container{
				width: 1200px;
				margin: 0 auto;
				height: 200px;
				.nav-container-wrapper{
					width: 1200px;
					margin: 0 10px;
					display: inline-block;
					height: 200px;
					.nav-select{
						display: none;
						height: 130px;
						margin-top: 35px;
						border-left: 1px solid #e7e7e7;
						float: left;
						dl{
							width: 220px;
							height: 150px;
							overflow: hidden;
							float: left;
							&:hover{
								background: #fafafa;
								a{
									color: #f60;
								}
							}
							dt{
								display: inline-block;
								float: left;
								width: 219px;
								height: 130px;
								border-right: 1px solid #e7e7e7;
								overflow: hidden;
								text-align:center;
								.color-orange{
									font: 16px/1 "Microsoft Yahei", Verdana, Tahoma, sans-serif;
								} 
							}
							dd{
								font: 14px/18px "Microsoft Yahei", Verdana, Tahoma, sans-serif;
								color: #f60;
								display: block;
								text-align: center;
								width: 219px;
								float: left;
							}
						}
						.forDesign-more{
							width: 56px;
							height: 22px;
							display: inline-block;
							margin: 109px 0 0 20px;
							float: left;
							background:url(../img/index-img/icon-more.jpg) no-repeat center;
							&:hover{
								background:url(../img/index-img/icon-more.png) no-repeat center;
							}
						}
					}
				}
			}
		}
}

/*main*/
.main{
	width: 100%;
	height: auto !important;
	min-height:340px;
	/*banner*/
	.banner{
		background: #d76438;
		.banner-wrapper{
			width: 1200px;
			height: 340px;
			margin: 0 auto;
			position: relative;
			.arrow{
				font-size: 50px;
				font-weight: 100;
				width: 50px;
				height: 100px;
				background: #000;
				opacity: 0.1;
				filter: alpha(opacity=10);
				position: absolute;
				top: 30%;
				color: #e1e1e1;
				line-height: 100px;
				cursor: pointer;
				text-align: center;
				z-index: 2;
			}
			.banner-prev{
				left: 0;
			}
			.banner-next{
				right: 0;
			}
			.banner-imgs{
				.first-li{
					display: block;
					opacity: 1;
				}
				li{
					position: absolute;
					text-align: center;
					width: 100%;
					display: none;
					a{
						display: inline-block;
						margin :0 auto;
					}
				}
			}
			.img-cur{
				background: url(../img/index-img/banner-cur.png) no-repeat center;
				width: 115px !important;
				height: 15px;
				position: absolute;
				left: 552px;
				bottom: 20px;
				text-align: center;
				z-index: 3;
				padding: 2px 2px;
				.dotColor{
					width: 8px;
					height: 8px;
					background-color: #f60;
					margin-top: 4px;
				}
				span{
					width: 10px;
					height: 10px;
					border-radius: 50%;
					background: #fff;
					float: left;
					margin-left: 9px;
					cursor: pointer;
					color: #fff;
					margin-top: 2px;
				}
				.dot-left{
					margin-left: 15px;
				}
			}
		}
	}
	/*floor*/
	.floor-wrapper{
		margin: 0 auto;
		margin-top: 20px;
		width: 1200px;
		height: 90px;
		.change-like{
			float: left;
			display: inline-block;
			position: relative;
			img{
				vertical-align: middle;
			}
		}
		.change-list{
			margin-left: 20px;
			float: left;
			display: inline;
			position: relative;
			width: 920px;
			height: 90px;
			.picture-show{
				position: relative;
				margin-right: 10px;
				display: block;
				float: left;
			}
		}
		.iconfont{
		    font-family:"iconfont" !important;
		    font-size:32px;font-style:normal;
		    -webkit-font-smoothing: antialiased;
		    -webkit-text-stroke-width: 0.2px;
		    -moz-osx-font-smoothing: grayscale;
		}
		.change-right{
			float: right;
			display: inline;
			width: 48px; 
			height: 88px;
			border: 1px solid #ebebeb;
			line-height: 90px; 
			text-align: center;
			color: #999;
			cursor: pointer;
			&:hover{
				color: #ff6600;
				border-color: #ff6600;
			}
		}
	}
	.hotSellOne{
		width: 1200px;
		margin: 0 auto;
		.hotSellOne-wrapper{
			text-align: center;
			.hotSell-title{
				font-size: 24px;
				width: 440px;
				line-height: 100%;
				margin: 0 auto;
				margin-top: 40px;
				padding-bottom: 30px;
				background: url(../img/index-img/floor-title.png) no-repeat 0 10px;
			}
			.hotSellOne-lists{
				height: 360px;
				position: relative;
				.lists-box{
					width: 380px;
					margin-right: 20px;
					float: left;
					display: inline;
					position: relative;
					&:hover{
						margin-top: -5px;
					}
					.lists-box-a{
						overflow: hidden;
						display: block;
						position: relative;
					}
					.positionBase{
						position: relative;
					}
					.hotGoods-picture{
						background: url(../img/index-img/rmsp1.png) no-repeat;
						position: absolute;
						left: 0;
						top: 249px;
						width: 380px;
						height: 26px;
					}
					.lists-title-a{
						width: 210px;
					}
				}
				.last-list{
					margin-right: 0;
				}
			}
			.hotSellTwo-lists{
				height: 280px;
				.hotSellTwo-li{
					width: 280px;
					margin-right: 20px;
					float: left;
					display: inline;
					position: relative;
					.hotSellTwo-a{
						overflow: hidden;
						display: block;
						position: relative;
						img{
							max-height: 210px;
							height: auto !important;
						}
					}
					.newGoods{
						background: url(../img/index-img/xpss.png) no-repeat;
						right: 3px;
						top: -6px;
						position: absolute;
						width: 71px;
						height: 24px;
					}
					&:hover{
						margin-top: -5px;
					}
				}
				.last-list{
					margin-right: 0;
				}
			}
			@include picTitle;
			.hotGoods-position{
				background: url(../img/index-img/rmsp.png) no-repeat;
				right: 3px;
				top: -6px;
				position: absolute;
				width: 71px;
				height: 24px;
			}
		}
	}
	.designServe{
		width: 100%;
		background: #fafafa;
		height: 460px;
		margin-top: 40px;
		overflow: hidden;
		.designServe-wrapper{
			margin: auto;
			width: 1200px;
			position: relative;
			.designServe-line{
				width: 1200px;
				border-top: 1px solid #dadada;
				position: absolute;
				top: 42px;
				left: 0;
				z-index: 1;
			}
			.designServe-title{
				margin: 0 auto;
				width: 200px;
				font-size: 20px;
				line-height: 100%;
				text-align: center;
				color: #573926;
				background: #fafafa;
				padding: 30px 0;
				position: relative;		
				z-index: 2;
			}
			.designServe-lists{
				width: 1200px;
				overflow: hidden;
				.designServe-li{
					$width: 232px;
					$margin: getMargin(1200px,$width,5);
					width: $width;
					height: 349px;
					overflow: hidden;
					text-align: center;
					display: inline-block;
					position: relative;
					margin-right: 5px;
					.designServe-a{
						overflow: hidden;
						display: block;
						width: 100%;
						height: 100%;
						position: relative;
						.pic-bg{
							width: 100%;
							height: 100%;
							background: no-repeat center;
						}
					}
					.big-opa-pic{
						display: none;
						width: 100%;
						height: 100%;
						position: absolute;
						left: 0;
						top: 0;
						background: #fff;
						opacity: 0.3;
					}
					.opa-pic{
						width: 100%;
						height: 40px;
						opacity: 0.2;
						position: absolute;
						left: 0;
						bottom: 0;
						background: #000;
					}
					.list-title{
						font-size: 18px;
						height:20px;
						width: 100%;
						line-height: 20px;
						position: absolute;
						left: 0;
						bottom: 0;
						padding: 10px 0;
						color: #fff;
					}
				}
				.designServe-last-li{
					margin-right: 0 !important;
				}
			}
		}
	}
	.main-comments{
		width: 1200px;
		height: 445px;
		margin: 0 auto;
		margin-top: 30px;
		.comments-title{
			width: 100%;
			height: 22px;
			margin-bottom: 30px;
			border-bottom: 1px dashed #ebebeb;
			.left-text{
				float: left;
				font-size: 18px;
				display: inline-block;
				width: 72px;
				height: 24px;
				background: #fff;
				padding-right: 10px;
			}
			.right-herf{
				float: right;
				display: inline-block;
				width: 63px;
				height: 19px;
				background: #fff;
				font-size: 14px;
				padding-left: 10px;
				margin-top: 4px;
				&:hover{
					color: #f60;
				}
			}
		}
		.comments-lists{
			.commentsItem{
				float: left;
				display: inline;
				max-width: 280px;
				width: auto !important;
				position: relative;
				padding-bottom: 10px;
				margin-right: 26px;
				border-bottom: 1px solid #ebebeb;
				.comments-img{
					max-width: 280px;
					width: auto !important;
					max-height: 210px;
					height: auto !important;
					line-height: 100%;
					display: block;
					margin-bottom: 20px;
					overflow: hidden;
					position: relative;
					img{
						max-height: 210px;
						height: auto !important;
					}
					span{
						display: none;
						width: 100%;
						height: 100%;
						background: #fff;
						opacity: 0.7;
						position: absolute;
						left: 0;
						top: 0;
					}
				}
				.comments-herf{
					display: block;
					margin-bottom: 15px;
					font-size: 16px;
					width: auto;
					text-align: left;
					line-height: 20px;
					white-space: nowrap;
					overflow: hidden;
					&:hover{
						color: #f60;
					}
				}
				.comments-time{
					min-width: 280px;
					max-width: 280px;
					width: auto;
					margin-bottom: 5px;
					text-align: right;
					color: #999;
					overflow: hidden;
					line-height: 100%;
				}
				.comments-text{
					padding: 9px 25px;
					height: 75px;
					line-height: 17px;
					color: #666;
					background: url(../img/index-img/comments-bg.png) no-repeat;
				}
			}
			.commentsItem-last{
				margin-right: 0 !important;
			}
		}
	}
	.bottom-ul{
		margin: 0 auto;
		margin-top: 40px;
		padding-bottom: 30px;
		border-bottom: 1px solid #ebebeb;
		background: url(../img/index-img/bottom-ulbg.png) no-repeat;
		width: 1200px;
		height: 62px;
		li{
			margin-right: 118px;
			padding-left: 80px;
			display: inline;
			float: left;
			line-height: 60px;
			a{
				font-size: 18px;
				color: #000;
				&:hover{
					color: #939393;
				}
			}
		}
		.bottom-last-li{
			margin-right: 0;
		}
	}
}
/*footer*/
.footer{
	.footer-wrapper{
		width: 1200px;
		margin: 0 auto;
	}
}